body{
    background-color: #EE1C29;
    background-image: url("./images/fondo.png");
    background-size: 50px;
/*     background-position:  right; */
}

h1{
    background-color: #EE1C29;
    color: gold;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.card{
    background-color: #FFF;
    width: 500px;
    text-align: center;
    display: inline-block;
    
}

.card img{
    width: 400px;
    height: 50%;
}

